html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  position: relative; }

.circle-one {
  height: 250px;
  width: 250px;
  background-color: #7D8299;
  border-radius: 50%;
  position: relative;
  display: inline-block; }

.circle-one span {
  color: white;
  font-size: 1.5em;
  top: 25%;
  margin-left: 40%;
  position: absolute; }

.circle-two {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: #AFAF80;
  position: relative;
  display: inline-block; }

.circle-two span {
  position: absolute;
  color: white;
  font-size: 1.5em;
  top: 25%;
  margin-left: 40%; }

.input-field {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 15%; }

.my_form input {
  width: 250px;
  background-color: #CBCCCD;
  outline: 0;
  border-radius: 5px;
  padding: 10px;
  color: white; }
